body{
    padding: 2rem;
}

.defaultLink, .enterUsername{
    display: inline-block;
    margin: 0 1rem 0 0;
}

.enterUsername{
    border-radius: 5px;
    height: 2rem;
    border-style: solid;
    border-width: 1px;
    outline: none;
}

.enterUsername:focus{
    border-color: #bf00ff;
}

.leftSection{
    position: absolute;
    left: 5rem;
}

.rightSection{
    position: absolute;
    right: 5rem;
}

.createlink, .pricing, .login{
    padding: 0 2rem 0 0;
    text-decoration: none;
    color: #000000;
}

.signup{
    background-color: #bf00ff;
    text-decoration: none;
    color: #000000;
    padding: 0.5rem;
    border-radius: 0.7rem;
}

