.App {
  text-align: center;
}

.navbarContainer{
  width: 20vmax;
  height: 7vmin;
  margin: auto;
  background-color: #ffffff;
  border-radius: 5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2vmin 0 #e6e6e6;
}

.navItem{
  text-decoration: none;
  padding: 2.5vmin;
  font-size: 3vmin;
  color: #bfbfbf;
  
}

.navItem:hover{
  color: #4db8ff;
}