.App {
  text-align: center;
}

.navbarContainer{
  width: 100%;
  height: 15vmin;
}

.heroContainer{
  width: 100%;
  height: 35vmax;
  text-align: left;
}

.heroPrimary{
  font-size: 5vmin;
  font-weight: 100;
}

.heroSecondary{
  font-size: 3vmin;
  font-weight: 100;
}

.heroImage{
  position: absolute;
  right: 10vmax;
  top: 12vmax; 
}

.heroText{
  position: absolute;
  left: 15vmax;
  top: 13vmax;
}

.heroInput{
  margin: 10vmin 0 0 0;
}

.linkPrefix{
  display: inline-block;
  padding: 0 1vmin 0 0;
}

.createLinkInput{
  width: 35vmin;
  height: 3vmin;
  border-radius: 5vmin;
  border-style: solid;
  padding: 1.5vmin;
}

.createLinkBtn{
  margin: 0 0 0 2vmin;
  background-color: #b366ff;
  color: #ffffff;
  border-style: none;
  padding: 2vmin;
  border-radius: 4vmin;
}

.processContainer{
  margin: 15vmax 0 0 0;
  font-size: 3vmin;
  font-weight: 100;
  line-height: 3vmax;
}

li{
  list-style: circle;
}

.process{
  position: absolute;
  left: 15vmin;
}

.processText{
  position: absolute;
  right: 15vmax;
  text-align: left;
}
